.general {

    padding-top: 10px;
    padding-bottom: 10px;
}

.background{
    padding-top: 30px;
    padding-bottom: 30px;

}

.btn {
    width: fit-content;
    height: fit-content;
    align-items: center;
}

#carField{
  display: none;
}

.link-dark{
    color:#000000;
}

